body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1){
    background-image: url("https://c4.wallpaperflare.com/wallpaper/687/4/876/anime-death-note-kira-death-note-light-yagami-ryuk-death-note-hd-wallpaper-preview.jpg");
    
}
.slideshow li:nth-child(2){
    background-image: url("https://i.pinimg.com/originals/00/16/89/001689a8cd27f899c4583111c113454a.jpg");
    animation-delay: 10s;
}
.slideshow li:nth-child(3){
    background-image: url("https://i.pinimg.com/originals/27/5d/2f/275d2f399e07c7a5d575e71d7fa0b443.jpg");
    animation-delay: 20s;
}
.slideshow li:nth-child(4){
    background-image: url("https://images.hdqwalls.com/download/meliodas-the-seven-deadly-sins-4k-5v-1366x768.jpg");
    animation-delay: 30s;
}
.slideshow li:nth-child(5){
    background-image: url("https://a-static.besthdwallpaper.com/one-punch-man-genos-saitama-death-punch-wallpaper-1920x1080-8735_48.jpg");
    animation-delay: 40s;
}
.slideshow li:nth-child(6){
        background-image: url("https://wallpaperaccess.com/full/259601.jpg");

    animation-delay: 50s;
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}